@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
    url("/Users/gerget/NewLab/src/fonts/Quicksand/static/Quicksand-Regular.ttf");
}
.main {
  display: flex;
  flex-direction: column;
  font-family: "Quicksand";
}
/* .button {
  margin-top: 20px;
  background-color: rgb(220, 118, 181);
  color: white;
  font-family: "Quicksand";
} */

.title {
  display: flex;
  align-self: start;
  margin-top: 15px;
  margin-bottom: 15px;
}

.mainContainer {
  max-width: 1200px;
  width: 80%;
}
.container {
  border: 1px solid rgb(188, 188, 188);
}
.group {
  display: flex;
  border-bottom: 1px solid rgb(188, 188, 188);
  height: 40px;
}
.groupName {
  margin: 10px;
  display: flex;
}
