.course {
  display: flex;
  border-bottom: 1px solid rgb(188, 188, 188);
  flex-direction: column;
  gap: 5px;
}
.smallFont {
  color: grey;
}
.courseText {
  margin: 10px;
}
.container {
  display: flex;
  justify-content: space-between;
}
.statusCreated {
  color: gray;
}

.statusStarted {
  color: green;
}

.statusOpenForAssigning {
  color: blue;
}
.statusFinished {
  color: red;
}
